@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong {
    @apply font-bold;
  }

  h1 {
    @apply text-3xl sm:text-4xl;
  }

  h2 {
    @apply text-2xl sm:text-3xl;
  }

  h3 {
    @apply text-xl sm:text-2xl;
  }

  h4 {
    @apply text-lg sm:text-xl;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-zinc-400 dark:text-zinc-600;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="search"],
  input[type="tel"],
  select,
  select[multiple],
  textarea {
    @apply block w-full rounded-lg border-transparent bg-zinc-100
        focus:border-zinc-500 focus:bg-white focus:ring-0
        dark:bg-zinc-800 dark:focus:bg-zinc-900;
  }

  button[type="submit"] {
    @apply h-10 rounded-lg border-transparent bg-blue-500 px-4 text-white
        focus:bg-blue-600 focus:ring-0;
  }

  /*input[type="checkbox"],
    input[type="radio"] {
        @apply text-blue-500 focus:ring-0;
    }*/
}
